.vscode
.DS_Store
src/**/*.aux
src/**/*.fdb_latexmk
src/**/*.fls
src/**/*.log
src/**/*.out
src/**/*.gz

src/*/*/*/*
!*.cpp
!*.h
!*.tex
!*.md
!*.pdf
!*.puml
!*.txt

src/*/*/*
!*.cpp
!*.h
!*.tex
!*.md
!*.pdf
!*.jpg
!*.puml
!*.txt